body {
  margin: 0 auto;
}

ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

li{
  float: left;
}

li a:link, li a:visited
{
  font-size: 75%;
  display:block;
  color:#FFFFFF;
  width:75px;
  text-align:center;
  padding:1px;
  text-decoration:none;
  text-transform:uppercase;
}

.errors {
  color: red; 
}

p.projects{
  text-align: center;
}

p.description{
  margin-top: -2px;
}

h3.title{
  text-decoration: underline;
}

input[type=text], textArea {
  width: 300px;
}

button {
  background-image: url('../images/header_bg.jpg'); 
  background-repeat: repeat; 
  font-weight: bold;
}

body a:link, a:visited{
  text-decoration: none;
}

.teamHeaders{
  font-weight: bold;
}
