# .gitignore - List of filenames git should ignore
InitialMeeting.txt
contact.txt
prj566_zenit_Files/*

# Filenames that should be ignored wherever they appear
*~
*.pyc
*.pyo
TAGS
tags
ID
.DS_Store*
/PRJ666/nbproject/private/
/PRJ666-Implementation/build/
/PRJ666-Implementation/nbproject/*
