<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="PRJ666_Project-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/sample</jta-data-source>
    <class>seneca.projectManagement.databaseClasses.Teams</class>
    <class>seneca.projectManagement.databaseClasses.Projectfile</class>
    <class>seneca.projectManagement.databaseClasses.Teammember</class>
    <class>seneca.projectManagement.databaseClasses.Milestone</class>
    <class>seneca.projectManagement.databaseClasses.Comments</class>
    <class>seneca.projectManagement.databaseClasses.Company</class>
    <class>seneca.projectManagement.databaseClasses.Projects</class>
    <class>seneca.projectManagement.databaseClasses.Teamprojectranking</class>
    <class>seneca.projectManagement.databaseClasses.Accounts</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.logging.level" value="FINEST"/>
    </properties>
  </persistence-unit>
</persistence>
